//- Use example:

//- svg.svg(role="img" aria-hidden="true")
//-  use(href="svg-icon-example")

mixin svg()
   .hidden-svg(aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;")
        svg(aria-hidden="true" version="1.1")
            defs
                //- for example
                    symbol(id="svg-icon-example" viewBox="0 0 19 18" fill="none")
                        <line x1="16.9707" y1="1.41421" x2="1.41435" y2="16.9706" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
                        <line x1="16.9706" y1="16.9707" x2="1.4142" y2="1.41435" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
                symbol(id="svg-icon-arrow-down" viewBox="0 0 15 8" fill="none")
                    <path d="M7.5 8C7.31833 7.99759 7.14415 7.92889 7.01164 7.80741L0.157538 1.10856C0.0482403 0.9784 -0.00761507 0.813164 0.000836097 0.644988C0.00928726 0.476812 0.0814407 0.31772 0.203262 0.198658C0.325083 0.0795963 0.487862 0.00907689 0.659936 0.000817155C0.83201 -0.00744258 1.00108 0.0471479 1.13425 0.15397L7.5 6.3839L13.8658 0.15397C13.9989 0.0471479 14.168 -0.00744258 14.3401 0.000817155C14.5121 0.00907689 14.6749 0.0795963 14.7967 0.198658C14.9186 0.31772 14.9907 0.476812 14.9992 0.644988C15.0076 0.813164 14.9518 0.9784 14.8425 1.10856L7.98835 7.80741C7.85585 7.92889 7.68167 7.99759 7.5 8Z" fill="currentColor"/>




