extends ../template
 
block head
    +head({
        title: 'Упс! Страница не найдена :(',
        description: 'Страница, на которую вы пытаетесь попасть, не существует или была удалена.',
        keywords: 'Производство молочных продуктов, Итальянские технологии, Европейское качество, Ингредиенты для молочных продуктов, Поставки молочных компонентов, молочная промышленность в Беларуси, Экспертиза компонентов молочной продукции, Заквасочные культуры для сыра, Заквасочные культуры для йогурта, Купить заквасочные культуры, компоненты для молочной промышленности, производство молочной продукции, технологии молочной промышленности, документация молочной продукции, испытания ингредиентов,'
    })

block content
    .error-page
        .error-page__wrap-content
            .container 
                .error-page__content 
                    h1.error-page__head Упс! Страница не найдена :( 
                    h3.error-page__desc Страница, на которую вы пытаетесь попасть, не существует или была удалена.
                    a.error-page__btn.button(href="/") Вернуться на главную

        .error-page__wrap-bg
            img.error-page__bg(src='./images/backgrounds/bg-error-page.svg', alt='bg-error-page')
            img.error-page__bg-elem(src='./images/backgrounds/element-error-page.svg', alt="element-error-page")