extends ../template

include ../sections/main-components


block head
    +head({
        title: 'Ингредиенты для производства качественной молочной продукции',
        description: 'Компания ОптиМилк разрабатывает, производит и реализует ферментные препараты, заквасочные культуры, овощные и фруктово-ягодные наполнители высшего качества',
        keywords: 'Молочные ферменты для кефира, Молочные ферменты для йогурта, Купить молочные ферменты в Минске, Молочные ферменты для ряженки, Купить молочные ферменты онлайн, оптимилк производство компонентов молочной промышленности, оптимилк документация молочной продукции, оптимилк документация молочной продукции, Фруктово-ягодные наполнители для йогурта, научный подход'
    })

block header
    +header('komponenty')

block content
    +breadcrumbs-app([{ url: '/', name: 'Главная' }, { name: 'Компоненты' }])

    .components-page
        .components-page__bg
            img.img(src="/images/backgrounds/bg-components.svg" alt="background components")
            
        +main-components