extends ../template

include ../sections/main-news


block head
    +head({
        title: 'Актуальные новости и события в сфере молочной промышленности РБ',
        description: 'Новости и интересные события из мира молочной промышленности Республики Беларусь, новинки и инновации для специалистов и любителей молочной продукции',
        keywords: 'Молочные компоненты, Закваски, Ферменты, Фруктово-ягодные наполнители, Овощные наполнители, Новые технологии производства молочных продуктов, Разработка рецептур, Техническая документация, Испытания ингредиентов, Вкусовые наполнители для молочных продуктов'
    })

block header
    +header('novosti')

block content
    +breadcrumbs-app([{ url: '/', name: 'Главная' }, { name: 'Новости' }])
    
    .news-list-page
        .news-list-page__bg
            img.img(src="/images/backgrounds/bg-components.svg" alt="background components")

        +main-news

