extends ../template

block head
    +head({
        title: 'О чем говорит рисунок сыра',
        description: 'Если вы хотите научиться разбираться в качестве сыра и выбирать лучшие образцы, то данная страница будет полезна для вас.',
        keywords: 'Заквасочные культуры для кефира, Заквасочные культуры для творога, Купить заквасочные культуры в Минске, Заквасочные культуры для ряженки, Купить заквасочные культуры онлайн, отечественные стандарты качества, клиентоориентированность, Купить фруктово-ягодные наполнители для молочных продуктов в Минске, передовые технологии, гарантированный результат, молочная промышленность в Беларуси'
    })

block header
    +header('novosti')

block content
    +breadcrumbs-app([{ url: '/', name: 'Главная' }, { url: '/novosti.html', name: 'Новости' }, { name: 'Рисунок сыра' }])

    .news-page
        .news-page__bg
            img.img(src="/images/backgrounds/bg-components.svg" alt="background news")
            
        .container
            .news-page__box
                .news-page_flex
                    h4.news-page__topic интересное
                    .news-page__right-box 
                        p.news-page__text-description О чем говорит рисунок сыра
                        p.news-page__text-subdescription Рисунок отверстий и корки сыра является важной вехой в изучении производства сыра. Это можно определить как отпечаток пальца, характеризующий правильность протекания в нем биохимических и микробиологических процессов. Он начинается при переработке белкового сгустка, прессовании и засолке, а завершается  в процессе созревания, когда из клеточных стенок выделяется газ за счет ферментативной активности. Рисунок сыра формируется в основном за счет накопления в сырной массе углекислого газа и аммиака. Рисунок сыра представляет собой совокупность глазков, по размеру, форме, количеству и распределению которых в сырном тесте можно судить о правильности протекания микробиологических и биохимических процессов в период созревания. 

                        .news-page__sub-box
                            .news-page__sub-box-topic Неравномерное расположение глазков в сыре может быть результатом неравномерного охлаждения сырной массы в процессе производства, а также следствием нарушения факторов, влияющих на процесс брожения.
                            img.news-page__sub-box-img(src='../../images/news/cheese.jpg' alt='image')

                        p.news-page__text-subdescription Сырные дырочки используются в качестве единицы измерения сыров. Каждый вид сыра имеет свой индивидуальный рисунок. Он определяется, в первую очередь, составом микрофлоры, используемой для его производства, а также способом формования сыра. Узор может состоять из глазков круглой и овальной формы, как у сыра Маасдам, неправильной и угловатой, как у сыров Русский, Пошехонский, а также полностью отсутствовать - у сыров Пармезан.
                        p.news-page__text-subdescription Характер отверстий сыра являются визуальным индикатором порчи сыра. Сетчатый, рваный и губчатый рисунок “сырных кратеров” указывает на бактериальную порчу сыра, где избыточное газообразование при развитии вредоносной микрофлоры образует скопления и сотовые структуры. Это придает сыру вид губки. Дырочки сыра неправильной формы, мелкие и многочисленные, говорят о повышенной кислотностью молока. Они возникают из-за использования молока с повышенной кислотностью и низкой температурой при созревании сыра, так как пересоливание вызывает потерю влаги в молоке.
