extends ../template

block head
    +head({
        title: 'Разработка и производство заквасок для кисломолочных продуктов',
        description: 'Эта статья будет интересна специалистам в области производства и дистрибуции кисломолочной продукции, а также всем, кто интересуется технологией производства пищевых продуктов.',
        keywords: 'закваска, заквасочные культуры, Заквасочные культуры для сыра, Заквасочные культуры для йогурта, Купить заквасочные культуры, компоненты для молочной промышленности, производство молочной продукции, технологии молочной промышленности, документация молочной продукции, испытания ингредиентов, европейские стандарты качества'
    })

block header
    +header('novosti')

block content
    +breadcrumbs-app([{ url: '/', name: 'Главная' }, { url: '/novosti.html', name: 'Новости' }, { name: 'Разработка и производство заквасок' }])

    .news-page
        .news-page__bg
            img.img(src="/images/backgrounds/bg-components.svg" alt="background news")
            
        .container
            .news-page__box
                .news-page_flex
                    h4.news-page__topic технологии
                    .news-page__right-box 
                        p.news-page__text-description Разработка и производство заквасок для кисломолочных продуктов
                        p.news-page__text-subdescription Закваски для молочных продуктов являются неотъемлемой частью отрасли. Закваски для молочных продуктов используются для развития нужных микроорганизмов в большом количестве. Основная задача закваски – выращивание нужного вида в большом количестве. Стартовая культура будет использоваться, когда вы хотите произвести определенный тип продукта, например, йогурт или сыр, или если вы хотите повысить производительность уже существующего процесса. Поэтому производство кисломолочных продуктов невозможно без заквасок.

                        .news-page__sub-box
                            .news-page__sub-box-topic Введение заквасок в молочные продукты требует тщательного учета микроорганизмов. Необходим комплексный анализ штаммов, чтобы техническое задание на разработку бактериальных комплексов было выполнено на 100%.
                            img.news-page__sub-box-img(src='../../images/news/technologies.jpg' alt='image')

                        p.news-page__text-subdescription Например, снижение вязкости и густоты сметаны является следствием низкого содержания белка в сыром молоке. Минимизировать эту проблему можно путем подбора высоковязких рас термофильного стрептококка с выраженными тиксотропными свойствами. Для автоматизированной технологии производства творога важно обеспечить всплытие каллы при варке. Леуконостоки активно участвуют в этом процессе.
                        p.news-page__text-subdescription Стартовая культура (закваска) является основным фактором при разработке новых продуктов. Она придает продукту первоначальную свежесть за счет выработки комбинации диацетила, ацетоина и углекислого газа. Этот процесс также оказывает жгучее действие на язык (при длительном созревании появляется «эффект шампанского»). Сливочные расы термофильного стрептококка в составе позволяют использовать закваску как при изготовлении резервуарных напитков, так и термостатных ложковых десертов. Кроме того, закваска обогащена пробиотической микрофлорой и может служить вкусовой альтернативой кефиру, но без использования дрожжей.
