extends ../template

block head
    +head({
        title: 'Магнитные микроботы против опасных бактерий в молоке',
        description: 'Узнайте, как магнитные микроботы могут помочь в защите здоровья людей и улучшении качества молочной продукции!',
        keywords: 'Заквасочные культуры оптом, Заквасочные культуры купить в интернет-магазине, Заквасочные культуры для производства молочной продукции, Заквасочные культуры для промышленности, Заквасочные культуры купить в Беларуси, лучшие компоненты для молочной промышленности, новые технологии для производства молочной продукции, ингредиенты для производства молочной  продукции'
    })

block header
    +header('novosti')

block content
    +breadcrumbs-app([{ url: '/', name: 'Главная' }, { url: '/novosti.html', name: 'Новости' }, { name: 'Магнитные микробы' }])

    .news-page
        .news-page__bg
            img.img(src="/images/backgrounds/bg-components.svg" alt="background news")

        .container
            .news-page__box
                .news-page_flex
                    h4.news-page__topic инновации
                    .news-page__right-box
                        p.news-page__text-description Магнитные микроботы против опасных бактерий в молоке
                        p.news-page__text-subdescription MagRobots — это небольшие микророботы, которые можно использовать для очистки молока и молочных продуктов путем извлечения опасных бактерий, таких как клетки золотистого стафилококка. Система использует магнитные поля, чтобы привлекать и затем убивать вредные клетки, оставляя безвредные бактерии невредимыми. Это означает, что MagRobots не причиняют вреда людям или другим животным (что не может быть подтверждено магнетизмом). Он также не токсичен для людей, не оставляет следов в пище и не требует дорогостоящего оборудования для постоянного использования.

                        .news-page__sub-box
                            .news-page__sub-box-topic Группа исследователей из Пражского университета разработала магнитных микроботов (MagRobots), способных эффективно очищать молочные продукты от стафилококков и других болезнетворных бактерий.
                            img.news-page__sub-box-img(src='../../images/news/medicine.jpg' alt='image')

                        p.news-page__text-subdescription Стафилококковые бактерии являются основной причиной мастита и септицемии у крупного рогатого скота. Воспаление молочной железы (мастит) у крупного рогатого скота часто связано с заражением бактериями Staphylococcus aureus - золотистый стафилококк. От животных микробы попадают в молоко и кисломолочные продукты и могут привести к развитию у человека целого комплекса заболеваний – от легких форм акне на коже до крайне опасных поражений нервной системы и оболочек сердца. Особую озабоченность вызывает отличная способность этих бактерий вырабатывать устойчивость к антибиотикам.
                        p.news-page__text-subdescription MagRobots снижают содержание стафилококков до показателей, которые считаются полностью безопасными. При этом они высокоспецифичны и не действуют на другие виды бактерий, в том числе на молочнокислые, которые могут содержаться в некоторых продуктах. По словам разработчиков, этот метод удобен еще и тем, что не требует затрат энергии, добавления дополнительных химикатов и легко масштабируется для промышленного использования.
