extends ../template

block head
    +head({
        title: 'Политика конфиденциальности',
        description: 'Политика конфиденциальности на сайте компании ОптиМилк',
        keywords: 'Молочная закваска оптом, Молочная закваска купить в Минске, Молочная закваска для производства молочной продукции, Молочная закваска для промышленности, Молочная закваска купить в интернет-магазине, компоненты молочной промышленности , технологии молочной промышленности , документация молочной продукции , испытания ингредиентов молочной продукции, европейские стандарты качества молочной продукции '
    })

block header
    +header(selectedLink = '')

block content
    +breadcrumbs-app([{ url: '/', name: 'Главная' }, { name: 'Политика конфиденциальности' }])

    .privacy-policy-page
        .container
            .privacy-policy-page_flex
                .privacy-policy-page__empty-place
                .privacy-policy-page__box
                    .privacy-policy-page__topic Политика конфиденциальности
                    p.privacy-policy-page__description Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в соответствии с требованиями Закона Республики Беларусь от 07.05.2021 N99-3 «О защите персональных данных» в отношении всей информации, которую ООО «ОптиМилк» может получить о Пользователе во время использования сайта #[a.privacy-policy-page__link(href="/") www.optimilk.by].

                    p.privacy-policy-page__sub-topic 1. Общие положения
                    p.privacy-policy-page__description
                    span.privacy-policy-page__description-span 1.1. Настоящая Политика конфиденциальности описывает методы использования и хранения интернет-ресурсом #[a.privacy-policy-page__link(href="/") «optimilk.by»] персональной информации клиентов, посещающих сайт #[a.privacy-policy-page__link(href="/") «optimilk.by»] (далее Сайт).
                    span.privacy-policy-page__description-span 1.2. Использование клиентом Сайта и предоставление интернет-ресурсу #[a.privacy-policy-page__link(href="/") «optimilk.by»] информации частного характера через Сайт означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных клиента, а также согласие на передачу, использование и раскрытие его персональных данных согласно условиям настоящей Политики конфиденциальности.
                    span.privacy-policy-page__description-span 1.3. В случае несогласия с условиями Политики конфиденциальности клиент должен прекратить использование Сайта.
                    span.privacy-policy-page__description-span 1.4. Настоящая Политика конфиденциальности применяется только в отношении информации частного характера, полученной через данный Сайт. Информация частного характера – это информация, позволяющая при ее использовании отдельно или в комбинации с другой доступной интернет-ресурсу информацией идентифицировать персональные данные клиента. 
                    span.privacy-policy-page__description-span 1.5. Настоящая Политика конфиденциальности применяется только к Сайту. На Сайте не публикуются преднамеренно ссылки на интернет-ресурсы, которые могут привести к повреждению компьютера клиента или заражению его вирусами. 
                    span.privacy-policy-page__description-span 1.6. Администрация Сайта не проверяет достоверность персональных данных, предоставляемых Пользователем Сайта. 

                    p.privacy-policy-page__sub-topic 2. Предмет Политики конфиденциальности
                    p.privacy-policy-page__description
                    span.privacy-policy-page__description-span 2.1. Просмотр пользователем содержимого на ресурсе – анонимный. Серверы Сайта могут собирать для статистики информацию о типе браузера, компьютера и операционной системы, а также IP-адрес. 
                    span.privacy-policy-page__description-span 2.2. Данные, которые собираются и сохраняются:
                    span.privacy-policy-page__description-span 2.2.1. Персональные данные, а также любая другая информация, разрешённые к обработке в рамках настоящей Политики конфиденциальности, которую клиенты сознательно и добровольно предоставляют путём заполнения регистрационной формы или совершения иных действий на Сайте: 
                    span.privacy-policy-page__description-span • фамилия, имя;
                    span.privacy-policy-page__description-span • адрес электронной почты (e-mail);
                    span.privacy-policy-page__description-span • контактный телефон.
                    span.privacy-policy-page__description-span
                    span.privacy-policy-page__description-span Информация собирается с целью принятия, обработки и доставки заказа, осуществления обратной связи с клиентом, предоставления клиентской поддержки, включая направление уведомлений, запросов, касающихся использования Сайта.
                    span.privacy-policy-page__description-span
                    span.privacy-policy-page__description-span 2.2.2. Данные из cookies-файлов. Это небольшие текстовые файлы, в которых после посещения Сайта cookies-файлов сохраняется информация о действиях клиента на ресурсе. Эти файлы не влияют на операционную систему компьютера. С какой целью собираются cookies-файлы: интернет-ресурс использует эту информацию для ведения статистики о пользователях и их запросах. Эти исследования помогают интернет-ресурсу анализировать, оценивать, улучшать свою работу, повышать качество продуктов и услуг, совершенствовать механизмы общения с клиентами. Клиент может удалить cookies-файлы после посещения Сайта. Однако в этом случае интернет-ресурс #[a.privacy-policy-page__link(href="/") «optimilk.by»] не несет ответственности за ненадлежащее качество работы ресурса. 
                    span.privacy-policy-page__description-span 2.2.3. Информация от браузера – данные, которые браузер автоматически отправляет серверу, например, IP-адрес, историю последних посещений, название операционной системы, название и версию программы, через которую клиент осуществляет выход в интернет, дату и время посещения сайта пользователем. Можно запретить браузеру передавать подобную информацию путем изменения настроек. С какой целью собирается: интернет-ресурс ведет статистику посещений для функционирования своих серверов и учета собственного трафика. В данном случае собранная статистическая информация не ассоциируется с конкретными пользователями и обрабатывается только в виде обобщенной статистики. IP-адрес клиента и время доступа к системе, в соответствии с пользовательским идентификатором, сохраняются в базе данных в целях предотвращения мошенничества. 
                    span.privacy-policy-page__description-span 2.2.4. Информация от третьих лиц – это персональные данные, которые предоставляют интернет-ресурсу партнеры, поставщики или иная третья сторона. С какой целью собирается: для выполнения обязательств интернет-ресурса по оформлению и доставке товара клиенту, обработки и получения платежей или уведомления клиента о состоянии его заказа. 
                    span.privacy-policy-page__description-span 2.3. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 3.1., 3.2. и 3.3. настоящей Политики конфиденциальности. 

                    p.privacy-policy-page__sub-topic 3. Охрана личной информации пользователей
                    p.privacy-policy-page__description
                    span.privacy-policy-page__description-span 3.1. Интернет-ресурс #[a.privacy-policy-page__link(href="/") «optimilk.by»] никогда и ни при каких обстоятельствах не сообщает третьим лицам личную (персональную) информацию о своих клиентах, кроме случаев, предписанных законом Республики Беларусь от 7 мая 2021 г. № 99-З «О защите персональных данных», или когда клиент добровольно соглашается на передачу информации. 
                    span.privacy-policy-page__description-span 3.2. Интернет-ресурс имеет право использовать другие компании и частных лиц для выполнения определенных видов работ, например: доставка посылок, почты и сообщений по электронной почте, удаление дублированной информации из списков клиентов, анализ данных, предоставление маркетинговых услуг, обработка платежей по кредитным картам и кредитованию. Эти юридические/физические лица имеют доступ к личной информации пользователей, только когда это необходимо для выполнения их функций. Данная информация не может быть использована ими в других целях. 
                    span.privacy-policy-page__description-span 3.3. Персональные данные клиента могут быть переданы уполномоченным органам государственной власти Республики Беларусь только по основаниям и в порядке, установленным законодательством Республики Беларусь. 
                    span.privacy-policy-page__description-span 3.4. Интернет-ресурс реализует мероприятия по защите личных (персональных) данных клиентов в следующих направлениях:
                    span.privacy-policy-page__description-span • предотвращение утечки информации, содержащей личные (персональные) данные, по техническим каналам связи и иными способами; 
                    span.privacy-policy-page__description-span • предотвращение несанкционированного доступа к информации, содержащей личные (персональные) данные, специальных воздействий на такую информацию (носителей информации) в целях ее добывания, уничтожения, искажения и блокирования доступа к ней; 
                    span.privacy-policy-page__description-span • защита от вредоносных программ;
                    span.privacy-policy-page__description-span • обнаружение вторжений и компьютерных атак.

                    p.privacy-policy-page__sub-topic 4. Срок хранения персональной информации
                    p.privacy-policy-page__description
                    span.privacy-policy-page__description-span 4.1. Интернет-ресурс хранит персональную информацию клиентов ровно столько времени, сколько она остается необходимой для достижения тех целей, ради которых она была изначально получена, или других законных целей, за исключением случаев, когда более длительный период хранения информации необходим в соответствии с законодательством либо разрешен им.
                    span.privacy-policy-page__description-span 4.2. Если пользователь отзывает свое согласие на хранение и обработку персональных данных, то он должен обратиться с просьбой удалить их, написав письмо на электронную почту #[a.privacy-policy-page__link(href="mailto:optimilk@tut.by") optimilk@tut.by].

                    p.privacy-policy-page__sub-topic 5. Согласия на обработку персональных данных
                    p.privacy-policy-page__description
                    span.privacy-policy-page__description-span Настоящим свободно, своей волей и в своем интересе даю согласие ООО «ОптиМилк» (далее – Интернет-ресурс) на автоматизированную и неавтоматизированную обработку моих персональных данных в соответствии со следующим перечнем:
                    span.privacy-policy-page__description-span • источник захода на веб-сайт: #[a.privacy-policy-page__link(href="/") www.optimilk.by] (далее – Сайт Интернет-ресурса) и информация поискового или рекламного запроса; 
                    span.privacy-policy-page__description-span • данные о пользовательском устройстве (среди которых разрешение, версия и другие атрибуты, характеризующие пользовательское устройство); 
                    span.privacy-policy-page__description-span • пользовательские клики, просмотры страниц, заполнения полей, показы и просмотры баннеров и видео; 
                    span.privacy-policy-page__description-span • данные, характеризующие аудиторные сегменты;
                    span.privacy-policy-page__description-span • параметры сессии;
                    span.privacy-policy-page__description-span • данные о времени посещения;
                    span.privacy-policy-page__description-span • идентификатор пользователя, хранимый в cookie, для целей повышения осведомленности посетителей Сайта Интернет-ресурса о продуктах и услугах , предоставления релевантной рекламной информации и оптимизации рекламы. Также даю свое согласие на предоставление Интернет-ресурсу моих персональных данных как посетителя Сайта - #[a.privacy-policy-page__link(href="/") www.optimilk.by] агентствам, с которыми сотрудничает Интернет-ресурс. Интернет-ресурс вправе осуществлять обработку моих персональных данных следующими способами: сбор, запись, систематизация, накопление, хранение, обновление, изменение, использование, передача (распространение, предоставление, доступ). Настоящее согласие вступает в силу с момента моего перехода на Сайт Интернет-ресурса и действует в течение сроков, установленных действующим законодательством РБ.

                    p.privacy-policy-page__sub-topic 6. Внесение изменений и дополнений
                    p.privacy-policy-page__description
                    span.privacy-policy-page__description-span 6.1.  Настоящая политика действует бессрочно до замены ее новой версией.
                    span.privacy-policy-page__description-span 6.2. Все изменения положений или условий политики использования личной информации будут отражены в этом документе. Интернет-ресурс #[a.privacy-policy-page__link(href="/") «optimilk.by»] оставляет за собой право вносить изменения в те или иные разделы данного документа в любое время без предварительного уведомления, разместив, обновленную версию настоящей Политики конфиденциальности на Сайте. С момента ее опубликования пользователи подчиняются новым условиям Политики конфиденциальности.
                    span.privacy-policy-page__description-span 6.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует направлять на электронный адрес: #[a.privacy-policy-page__link(href="mailto:optimilk@tut.by") optimilk@tut.by].
                    p.privacy-policy-page__sub-topic 7. Контактная информация
                    p.privacy-policy-page__description Общество с ограниченной ответственностью «ОптиМилк» (ООО «ОптиМил»).  Местонахождение, указанное в Едином государственном регистре юридических лиц и индивидуальных предпринимателей: 223012, Республика  Беларусь, Минский район, г.п. Мачулищи, ул. Связистов, 1А, изолированное помещение с инвентарным номером 600/D-19013, УНП 69136572 ; телефон: #[a.privacy-policy-page__link(href="tel:361-47-82") +375(17)361-47-82]; e-mail: #[a.privacy-policy-page__link(href="mailto:optimilk@tut.by") optimilk@tut.by].

block footer
    +footer(true)