mixin modal-open-photo
    .modal.modal-open-photo(data-modal-name="modal-open-photo")
        .modal__black-region(data-close-modal)
        .modal__content
            .modal__cross(data-close-modal)
                img.img(src="images/cross.svg" alt="cross")

            img.modal-open-photo__img(src="", alt="photo" data-change-img-in-modal)