.about-company-page {
    .main-about-company {
        padding-top: 64px;
        background-color: #fff;

        @media (max-width: $breakpoint-lg) {
            padding-top: 40px;
        }
        @media (max-width: $breakpoint-md) {
            padding-top: 40px;
        }
        @media (max-width: $breakpoint-sm) {
            padding-top: 40px;
        }

     &__bg {
        display: none;
     }
    }

    .about-company-certificates {
        &__content {
        }

        &__text_flex {
            display: flex;
            margin-top: 200px;

            @media (max-width: $breakpoint-lg) {
                flex-direction: column;
            }
        }

        &__text-topic {
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            font-weight: normal;
            margin-right: 288px;
            color: $color-gray;
            font-family: $main-font;

            @media (max-width: $breakpoint-xl) {
                margin-right: 172px;
            }
            @media (max-width: $breakpoint-lg) {
                margin-bottom: 24px;
                font-size: 16px;
            }
            @media (max-width: $breakpoint-md) {
                margin-right: 0;
            }
        }

        &__text-description {
            font-size: 36px;
            line-height: 140%;
            text-transform: uppercase;
            color: $color-gray;
            font-family: $main-font;
            font-weight: normal;

            @media (max-width: $breakpoint-xl) {
                font-size: 30px;
            }
            @media (max-width: $breakpoint-lg) {
                width: 100%;
                font-size: 24px;
            }
        }

        &__images-all {
            display: flex;
            justify-content: space-between;
            margin-top: 64px;

            @media (max-width: $breakpoint-lg) {
                margin-top: 48px;
            }
            @media (max-width: $breakpoint-md) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        &__img {
            height: 560px;
            filter: grayscale(100%);
            transition: 0.3s;

            @media (max-width: $breakpoint-xl) {
                height: 432px;
            }
            @media (max-width: $breakpoint-lg) {
                height: 320px;
            }
            @media (max-width: $breakpoint-md) {
                width: 100%;
                height: 460px;
                filter: grayscale(0);
            }
        }

        &__img:hover {
            filter: grayscale(0);
        }

        &__img_flex {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        &__description {
            width: 280px;
            font-family: $main-font;
            font-size: 24px;
            line-height: 140%;
            color: $color-gray;
            text-align: center;
            margin-top: 24px;

            @media (max-width: $breakpoint-xl) {
                width: 218px;
                font-size: 18px;
            }
            @media (max-width: $breakpoint-lg) {
                width: 160px;
                font-size: 14px;
                margin-top: 14px;
            }
            @media (max-width: $breakpoint-md) {
                margin-bottom: 31.95px;
            }
        }

        &__description-last-child {
            @media (max-width: $breakpoint-md) {
                margin-bottom: 0;
            }
        }
    }
}