mixin main-components()
    section.main-components
        img.main-components__bg(src="/images/backgrounds/bg-components.svg" alt="background components")
        .container
            .main-components__text_flex
                h4.main-components__text-topic компоненты
                p.main-components__text-paragraph Ингредиенты для производства<br/> качественной молочной продукции

            .main-components__images
                a.main-components__img-block(href='/zakvaski.html')
                    span.main-components__img-ref Закваски
                    img.main-components__img(src="/images/main-components/zakvaski.svg", alt="picture")

                a.main-components__img-block(href='/fermenty.html')
                    span.main-components__img-ref Ферменты
                    img.main-components__img(src="/images/main-components/ferments.svg", alt="picture")

                a.main-components__img-block(href='/napolniteli.html')
                    span.main-components__img-ref Наполнители
                    img.main-components__img(src="/images/main-components/napolniteli.svg", alt="picture")
