mixin main-our-clients
    section.main-our-clients
        img.main-our-clients__bg(src="/images/backgrounds/bg-our-clients.svg" alt="background our-clients")
        .container
            .main-our-clients__header 
                h3.main-our-clients__header-category наши клиенты
                h4.main-our-clients__header-name Создаём комфортные и благоприятные условия для совместной деятельности
            
            .main-our-clients__content
                .main-our-clients__list
                    .main-our-clients__item(data-change-clients)
                        img.main-our-clients__item-img.active(src="images/main-our-clients/1.svg" alt="client Optimilc")
                        img.main-our-clients__item-img(src="images/main-our-clients/2.svg" alt="client Optimilc")

                    .main-our-clients__item(data-change-clients)
                        img.main-our-clients__item-img.active(src="images/main-our-clients/3.svg" alt="client Optimilc")
                        img.main-our-clients__item-img(src="images/main-our-clients/4.svg" alt="client Optimilc")

                    .main-our-clients__item(data-change-clients)
                        img.main-our-clients__item-img.active(src="images/main-our-clients/5.svg" alt="client Optimilc")
                        img.main-our-clients__item-img(src="images/main-our-clients/6.svg" alt="client Optimilc")

                    .main-our-clients__item(data-change-clients)
                        img.main-our-clients__item-img.active(src="images/main-our-clients/7.svg" alt="client Optimilc")
                        img.main-our-clients__item-img(src="images/main-our-clients/8.svg" alt="client Optimilc")

                    .main-our-clients__item(data-change-clients)
                        img.main-our-clients__item-img.active(src="images/main-our-clients/9.svg" alt="client Optimilc")
                        img.main-our-clients__item-img(src="images/main-our-clients/10.svg" alt="client Optimilc")

                    .main-our-clients__item(data-change-clients)
                        img.main-our-clients__item-img.active(src="images/main-our-clients/11.svg" alt="client Optimilc")
                        img.main-our-clients__item-img(src="images/main-our-clients/12.svg" alt="client Optimilc")
