mixin main-about-company
    section.main-about-company
        img.main-about-company__bg(src="/images/backgrounds/bg-about-company.svg" alt="background about-company")
        .container
            .main-about-company__content
                .main-about-company__text_flex
                    h4.main-about-company__text-topic о компании
                    .main-about-company__box
                        .main-about-company__text-box
                            p.main-about-company__text-description ОптиМилк - ваш надёжный поставщик инновационных решений в молочной сфере
                            p.main-about-company__text-paragraph Компания ОптиМилк специализируется на производстве и реализации компонентов для молочной промышленности производства компании ALCE (Италия), разработке новых технологий, технической документации, декларировании и проведении испытаний ингредиентов собственного производства в соответствии с европейскими и отечественными стандартами качества. Клиентоориентированность, научный подход, инновации и передовые технологии, гарантированный результат, постоянный рост и развитие - главные эпитеты, достоверно описывающие вектор деятельности компании ООО “ОптиМилк”

                        .main-about-company__numbers-box
                            .main-about-company__numbers_flex
                                .main-about-company__numbers >12 лет
                                .main-about-company__numbers-description успешного опыта по всей Беларуси
                            .main-about-company__numbers_flex
                                .main-about-company__numbers >20
                                .main-about-company__numbers-description постоянных партнёров
                            .main-about-company__numbers_flex
                                .main-about-company__numbers >300
                                .main-about-company__numbers-description.main-about-company__numbers-description_margin возможных видов продукции
